<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="keywords" content="Adrian Duda, Adrian V. Duda, Adrian Vasile Duda, AI, Artificial Intelligence, 
                                 Machine Learning, ML, Data Science, AI Expert, Reinforcement Learning, 
                                 NLP, Natural Language Processing, Computer Vision, Time Series, Statistics,
                                 Sentiment Analysis, Transformers, FinBERT, TensorFlow, Scikit-learn, Python,
                                 Flask, AWS, Cloud, 
                                 Convolutional Neural Networks,
                                 Tokenization, Embeddings, Transfer Learning, Fine-Tuning, Encoder, Decoder, Self-Attention,
                                 Correlation Matrice, Covariance Matrice, Mean-Variance optimization, Scipy, Sequential Least Squares, SLSQP, Quadratic Programming,
                                 OpenCV, Dlib, Single Shot Detection SSD, OpenFace" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png"> -->
  

  <link rel="shortcut icon" href="{{url_for('static', filename = 'favicon.ico')}}">
  <title>Adrian V. Duda - Portfolio</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="" onClick="parent.open('https://www.credly.com/users/adrian-vasile-duda.78032e75')">
                        Machine Learning & AWS Certifications</a>
            </li>
          </ul>
          <br>

          <ul class="nav navbar-nav ">
            <li><a href="" onClick="parent.open('https://developers.google.com/certification/directory')">
                    TensorFlow Developer</a>
            </li>
          </ul>
          <br>

          <ul class="nav navbar-nav ">
            <li><a href="" onClick="parent.open('https://patentcenter.uspto.gov/applications/13702001')"> 
                    United States Granted Patent</a>
            </li>
          </ul>
          <br>

          <ul class="nav navbar-nav ">
            <li><a href="" onClick="parent.open('https://www.linkedin.com/in/adrian-vasile-duda')">
                        My LinkedIn</a>
            </li>
          </ul>

          
        </div> 
        
      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/home-background.jpg')">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Adrian Vasile Duda</span>
                  <span>AI Expert & Freelancer.</span>
                  <span>I start from <span style="color:coral">raw Data</span> </span>
                  <span>then <span style="color:gold">churn it,</span> do some <span style="color:gold;">magic</span></span>
                  <span>until it all <span style="color:forestgreen;"> makes sense.</span></span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>